<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>firstWebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<context-param>
    	<param-name>AdministratorEmail</param-name>
    	<param-value>mani2000@yahoo.com</param-value>
</context-param>
<listener>
        <listener-class>com.chainsys.miniproject.listeners.SessionListener</listener-class>
</listener>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>madurai</servlet-name>
    <servlet-class>com.chainsys.webapp.first.HelloWorld</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>madurai</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycle</display-name>
    <servlet-name>LifeCycle</servlet-name>
    <servlet-class>com.chainsys.webapp.first.LifeCycle</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycle</servlet-name>
    <url-pattern>/LifeCycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestParam</display-name>
    <servlet-name>RequestParam</servlet-name>
    <servlet-class>com.chainsys.webapp.first.RequestParam</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestParam</servlet-name>
    <url-pattern>/RequestParam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employees</display-name>
    <servlet-name>Employees</servlet-name>
    <servlet-class>com.chainsys.webapp.first.Employees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employees</servlet-name>
    <url-pattern>/Employees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttributesDemo</display-name>
    <servlet-name>AttributesDemo</servlet-name>
    <servlet-class>com.chainsys.webapp.first.AttributesDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttributesDemo</servlet-name>
    <url-pattern>/AttributesDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionState</display-name>
    <servlet-name>SessionState</servlet-name>
    <servlet-class>com.chainsys.webapp.first.SessionState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionState</servlet-name>
    <url-pattern>/SessionState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GlobalState</display-name>
    <servlet-name>GlobalState</servlet-name>
    <servlet-class>com.chainsys.webapp.first.GlobalState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GlobalState</servlet-name>
    <url-pattern>/GlobalState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Result</display-name>
    <servlet-name>Result</servlet-name>
    <servlet-class>com.chainsys.webapp.first.Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Result</servlet-name>
    <url-pattern>/Result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doctors</display-name>
    <servlet-name>Doctors</servlet-name>
    <servlet-class>com.chainsys.webapp.first.Doctors</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Appointments</display-name>
    <servlet-name>Appointments</servlet-name>
    <servlet-class>com.chainsys.webapp.first.Appointments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appointments</servlet-name>
    <url-pattern>/Appointments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDemo</display-name>
    <servlet-name>SessionDemo</servlet-name>
    <servlet-class>com.chainsys.webapp.second.SessionDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo</servlet-name>
    <url-pattern>/SessionDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookiesDemo</display-name>
    <servlet-name>CookiesDemo</servlet-name>
    <servlet-class>com.chainsys.webapp.second.CookiesDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookiesDemo</servlet-name>
    <url-pattern>/CookiesDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SigninServlet</display-name>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>com.chainsys.webapp.second.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/SigninServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.chainsys.webapp.second.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitParam</display-name>
    <servlet-name>InitParam</servlet-name>
    <servlet-class>com.chainsys.webapp.second.InitParam</servlet-class>
    <init-param>
            <param-name>phone</param-name>
            <param-value>9884598845</param-value>
  	</init-param>
  	<init-param>
            <param-name>mailid</param-name>
            <param-value>abcd@xyz.com</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParam</servlet-name>
    <url-pattern>/InitParam</url-pattern>
  </servlet-mapping>
</web-app>